.card {
  & .front {
    transition: transform 0.25s linear 0.25s;
  }
  &.revealed .front {
    transform: rotateY(0.25turn);
    transition: transform 0.25s;
  }
  & .back {
    transform: rotateY(-0.25turn);
    transition: transform 0.25s;
  }
  &.revealed .back {
    transform: rotateY(0);
    transition: transform 0.25s linear 0.25s;
  }
}
