.card {
  & .front {
    transition: transform calc(var(--card-flip-duration)/2) linear calc(var(--card-flip-duration)/2);
  }
  &.revealed .front {
    transform: rotateY(0.25turn);
    transition: transform calc(var(--card-flip-duration)/2);
  }
  & .back {
    transform: rotateY(-0.25turn);
    transition: transform calc(var(--card-flip-duration)/2);
  }
  &.revealed .back {
    transform: rotateY(0);
    transition: transform calc(var(--card-flip-duration)/2) linear calc(var(--card-flip-duration)/2);
  }
}
